@keyframes fadeInOpacity {0% {opacity: 0;} 100% {opacity: 1;}}

.quickViewBox {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(250, 250, 250);
    margin: 2px;
    margin-top: 7px;
    padding: 5px;
    padding-top: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 150px;
    overflow-y: auto;
    overflow-x: auto;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

/* SMARTPHONES RESPONSIVENESS */
@media screen and (max-width: 600px) {
    th, td {
        font-size: 12px;
    }
}