@keyframes fadeInOpacity {0% {opacity: 0} 100% {opacity: 1}};
@keyframes rotate { 0% { transform: rotate(0deg) } 100% { transform: rotate(360deg) }};
@keyframes flickerAnimation {0%   { opacity: 1 } 50%  { opacity: 0 } 100% { opacity: 1 }};

$Primary-color: rgb(190, 190, 255);

@mixin buttonStyle ($theme: rgb(0, 115, 236)) {
  background-color: $theme;
  margin: 2px;
  border-radius: 3px;
  padding: 5px;
  border-style: none;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  &:hover { background-color: lighten($theme, 10%) };
  &:active { background-color: darken($theme, 5%) }
}

html { 
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
body {
  background-color: lighten($Primary-color, 8%);
  border-radius: 5px;
  padding: 4px;
}
form {
  display: flex;
  flex-direction: column;
  background-color: $Primary-color;
  border-radius: 5px;
  margin: 2px;
  padding: 4px;
  height: fit-content;
  border: none;
  align-items: center;
}
input { 
  border: solid 1px #ccc; 
  border-radius: 5px;
  &:hover { background-color: rgb(220, 250, 255) };
  &:focus { background-color: rgb(220, 250, 255) }; 
}
table {
  width: 100%;
  height: fit-content;
  border-collapse: collapse;
  background-color: lighten($Primary-color, 12%);
  
  tr {
    &:hover { background-color: lighten($Primary-color, 10%) };
    th {
      background-color: lighten($Primary-color, 12%);
      position: sticky;
      top: 0;
      z-index: 1;
    }
    th, td {
      padding: 3px;
      border-bottom: 1px solid #ddd;
      text-align: center;
      white-space: nowrap;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 1s;
    }
  }
}
.overflow {width: 100%; overflow: auto;}
.FOR { background-color: lighten($Primary-color, 6%) }

@media screen and (max-width: 600px) {
  html, body, table, input, .calendar { 
    font-size: 13px; 
  };
  .calendar-day {
    width: 10vw;
    height: 10vw;
  };
}