.dayBox {
    display: flex;
    position: relative;
    min-width: fit-content;
    background-color: rgb(197, 197, 255);
    border: 1px solid #ccc; 
    border-style: none;
    padding: 2px;
    margin-top: 5px;
    overflow-x: auto;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.nohover {
    pointer-events: none;
}

.Outbound {
    color: blue;
}

.Inbound {
    color: blue;
}

.Sent {
    background-color: rgb(223, 223, 255) ;
}

@media screen and (max-width: 600px) {
    th, td {
        font-size: 12px;
    }
}