@keyframes rotate {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.dayBox {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(200, 200, 255);
    border-radius: 5px;
    border: 1px solid #ccc; 
    border-style: none;
    padding: 2px;
    margin-top: 5px;
    overflow-y: hidden;
    overflow-x: auto;
}

.day-reminder {
    font-size: 10px;
    position: relative;
    background-color: rgb(230, 230, 255);
    border-radius: 2px;
    width: fit-content;
    height: fit-content;
    padding: 1px;
    margin: 1px;
    border: solid 1px rgb(150, 150, 255);
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #767676;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: rotate 1s linear infinite;
    margin: 20px auto;
}

.searchBox {
    position: relative;
    width: 60px;
    border-radius: 5px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.nohover {
    pointer-events: none;
}

.Outbound {
    color: blue;
}

.Inbound {
    color: blue;
}

.Sent {
    background-color: rgb(230, 230, 255);
}

@media screen and (max-width: 600px) {
    th, td {
        font-size: 12px;
    }
    .LOOKING-FOR {
        white-space: nowrap;
    }
    .day-reminder {
        font-size: 7px;
    }
}