@keyframes fadeInOpacity {0% {opacity: 0;} 100% {opacity: 1;}}

.dayBox {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 6px;
    padding-top: 2px;
    margin-top: 5px;
    margin: 2px;
    height: 150px;
    overflow-y: auto;
    overflow-x: auto;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}
.day-reminder {
    font-size: 10px;
    position: relative;
    background-color: rgb(230, 230, 255);
    border-radius: 2px;
    width: fit-content;
    height: fit-content;
    padding: 1px;
    margin: 1px;
    border: solid 1px rgb(150, 150, 255);
}