@use "src/styles/App.scss";

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.submit { 
  @include App.buttonStyle;
  width: 115px;
}
.swap-form-link, 
.roster-link { @include App.buttonStyle($theme: rgb(79, 208, 9)); }
.Tutorial { @include App.buttonStyle($theme: purple); }
.hidden {
  display: none;
}

.add-line {
  @include App.buttonStyle($theme: rgb(0, 115, 236));
  height: 16px;
  width: 16px;
  background:
    linear-gradient(#fff 0 0),
    linear-gradient(#fff 0 0),
    rgb(0, 115, 236);
  background-position: center;
  background-size: 70% 3px,3px 70%;
  background-repeat: no-repeat;
}

.delete-line {
  @include App.buttonStyle($theme: rgb(255, 0, 0));
  height: 16px;
  width: 16px;
  background:
    linear-gradient(#fff 0 0),
    rgb(255, 0, 0);
  background-position: center;
  background-size: 60% 3px,3px 60%;
  background-repeat: no-repeat;
}

.switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 20px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    color: #fff;
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  };
  &:checked { background-color: rgb(0, 115, 236) };
  &:checked:before { left: 24px }
}