@keyframes flickerAnimation {0%   { opacity:1; } 50%  { opacity:0; } 100% { opacity:1; }}

.calendar {
  justify-content: center;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.calendar-month {
  display: flex;
  flex-wrap: wrap;
  font-weight: lighter;
  justify-content: center;
  align-content: left;
  margin: 2px;
}
.calendar-day {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ccc; 
  border-radius: 5px;
  margin: 1px;
  width: 5vw; 
  height: 5vw;
  cursor: pointer;
}
.calendar-day:hover {
  background-color:  rgb(200, 200, 255);
}
.calendar-day:active {
  background-color: rgb(150, 150, 255);
}
.calendar-day-selected {
  background-color: rgb(200, 200, 255);
  color: white;
}
.day-full {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 50%;
  justify-self: center;
}
.day-number {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 95%;
  justify-self: center;
}
.dot {
  grid-area: 3 / 2 / 4 / 3;
  background-color: red;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  justify-self: center;
  -webkit-animation: flickerAnimation 7s infinite;
  -moz-animation: flickerAnimation 7s infinite;
  -o-animation: flickerAnimation 7s infinite;
  animation: flickerAnimation 7s infinite;
}
.outdated-day, .outdated-day:hover, .outdated-day:active {
  background-color: grey;
  color:lightgray;
  cursor: default;
}
.quick-view {
  background-color: red;
  color: white;
  font-size: 13px;
  margin: 4px;
  padding: 5px;
  border: none;
  cursor: pointer;
}
.quick-view:hover {
  background-color: rgb(255, 116, 116);
}
.quick-view:active {
  background-color: rgb(189, 0, 0);
}

@media (max-width: 600px) {
  .calendar-day {
    width: 10vw;
    height: 10vw;
    font-size: 13px;
  }
}