.calendar {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.calendar-month {
  width: 100%;
}

.calendar-day {
  background-color: white;
  width: 40px; 
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #ccc; 
  margin: 1px;
  border-radius: 5px;
}
.calendar-day:hover {
  background-color:  rgb(200, 200, 255);
}
.calendar-day:active {
  background-color: rgb(150, 150, 255);
}
.calendar-day-selected {
  background-color: rgb(200, 200, 255);
  color: white;
}

@media (max-width: 600px) {
  .calendar-day {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}