.greetings {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  margin: 2px;
}

.inline-form {
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    input, label, span, textarea, button {
        margin: 2px;
    }
    input:hover, textarea:hover {
      background-color: rgb(229, 255, 255);
    }
    .submit {
      border-radius: 2px;
      font-size: 0.88em;
      background-color: rgb(0, 115, 236);
      align-self: flex-end;
      border-style: none;
      color: rgb(255, 255, 255);
      margin-bottom: 0px;
      padding: 0.5em 0.75em;
      min-width: 70px;
      height: 30px;
      cursor: pointer;
    }
    .add-line {
      border-radius: 3px;
      border-style: none;
      background-color: rgb(0, 115, 236);
      align-self: flex-end;
      color: rgb(255, 255, 255);
      height: 20px;
      width: 20px;
      cursor: pointer;
      display: inline-block;
      background:
        linear-gradient(#fff 0 0),
        linear-gradient(#fff 0 0),
        rgb(0, 115, 236);
      background-position: center;
      background-size: 50% 2px,2px 50%;
      background-repeat: no-repeat;
    }
    .delete-line {
      border-radius: 3px;
      border-style: none;
      background-color: rgb(236, 0, 0);
      align-self: flex-end;
      color: rgb(255, 255, 255);
      height: 20px;
      width: 20px;
      cursor: pointer;
      display: inline-block;
      background:
        linear-gradient(#fff 0 0),
        rgb(236, 0, 0);
      background-position: center;
      background-size: 50% 2px,2px 50%;
      background-repeat: no-repeat;
    }

/* OVERNIGHT SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 18px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  .slider.round {
    border-radius: 10px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }