@use "src/containers/App.scss";

.viewBox {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: lighten(App.$Primary-color, 12%);
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3px;
    overflow: auto;
    font-weight: lighter;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}
.dayBox {
    height: fit-content;
}
.newsBox {
    height: fit-content;
    background-color: lighten(rgb(255, 208, 0), 45%);
    color: orange;
    text-align: left;
    align-items: center;
    .newsDate{
        font-weight: bold;
    }
}
.Outbound, .Inbound { color: blue; }
.nohover { pointer-events: none; }
.Date, .Sent, .Email { 
    color: black;
    text-decoration: none;
    &:link { color: black };
    &:visited { color: black }; 
    &:hover { color: orange }; 
    &:active { color: rgb(255, 132, 0) };
}
.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #767676;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: rotate 1s linear infinite;
    margin: 20px auto;
}